<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bloomtom.HttpProgress" version="2.3.1" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net462" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net462" />
  <package id="Markdown.Xaml" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="NLog" version="4.6.8" targetFramework="net462" />
  <package id="Ookii.Dialogs.Wpf" version="1.1.0" targetFramework="net462" />
  <package id="TaskScheduler" version="2.8.17" targetFramework="net462" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net462" />
  <package id="XAMLMarkupExtensions" version="1.5.1" targetFramework="net462" />
</packages>